@model BlazorAptit.Models.AptitGroupView

@{ ViewData["Title"] = "Index"; }

<div class="container">
    <form class="form-horizontal" role="form" asp-action="MainLogin">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
       
        <div class="form-group text-center">

            <section class="min-vh-100 py-5">
                <div class="container">
                    <div class="row justify-content-center mb-md-6">
                        <div class="form-group">
                            <a href="/Aptit/Mainlogin">
                                <img src="~/img/LOGOIMAGE.JPG" height="200" width="250" />
                            </a>
                        </div>
                    </div>
                   
                    <div class="row justify-content-center pt-6">
                        <div class="col-xl-4 col-lg-5 col-md-6">
                            @*<div class="text-center mb-4">
                    <h1 class="mb-1">Welcome back</h1>
                    <span>Enter your account details below</span>
                </div>*@
                            <div class="form-group">
                                <input asp-for="Group_ID" class="form-control" placeholder="회차코드 입력" value="" />
                                <span asp-validation-for="Group_ID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="Password" class="form-control" placeholder="비밀번호 입력" value="" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                                @*<small>
                        <a href="#">Forgot your password?</a>
                    </small>*@

                            </div>
                            @if (@ViewBag.Message != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Message
                                </div>
                            }
                            <div class="form-group">
                                <button class="btn-block btn btn-primary" type="submit">로그인</button>
                            </div>
                            @*<div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="login-remember">
                    <label class="custom-control-label text-small text-muted" for="login-remember">Keep me signed in</label>
                </div>
                <hr>
                <div class="text-center text-small text-muted">
                    <span>
                        Don't have an account yet? <a href="#">Create one</a>
                    </span>
                </div>*@
                        </div>
                    </div>
                    <br /><br /><br />
                    <div class="row justify-content-center mb-md-6">
                        <div class="col-auto">
                            <a href="https://aptitude-x.com/" target="_blank">
                                <img src="~/img/MAINBOTTOM.JPG" width="400" />
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
</div>
