@model BlazorAptit.Models.AptitUser

<div style="margin-bottom: 0;">
    <div class="test-info">
        <div class="inner">
            <p class="tit-finish">축하드립니다!</p>
            <img src="~/pub/img/sub/img_finish.png" alt="" class="img-finish">
            <p class="headline-finish">
                교육과학적으로 개발된 <br>
                옥타그노시스(OCTAGNOSIS)검사를 <br>
                완료하셨습니다.
            </p>
            <p class="headline-finish">
                결과지는 단체 담당자에게 전달될 예정입니다. <br>
            </p>
            <p class="txt-finish">
                세계최초로 개발된 옥타그노시스(OGS 옥스)검사 결과를 토대로 <br>
                행복한 진로설계하시기를 바랍니다. <br>
                감사합니다.
            </p>
            <div class="test-bottom">
                <img src="~/pub/img/sub/logo.png" alt="">
                <p class="copyright">Copyright 2004. 한국진로적성센터. All rights reserved.</p>
                <p>
                    <span class="link">
                        <a href="https://aptitude-x.com/" class="btn btn-primary btn-sm" target="_blank">www.aptitude-x.com</a>
                    </span><span class="phone"><img src="~/pub/img/sub/icon_phone.png">02. 523. 7523</span>
                </p>
            </div>
        </div>
    </div>

</div>


